{% extends "base.html" %}

{% block title %}
{{video.title}} 
{% endblock %}

{% block body %}
<p>{{video.id}}</p>
<p>{{video.title}}</p>
<p>{{video.description}}</p>
<p>{{video.views}}</p>

{% if user.is_authenticated %}
<h1 class="{% if like == 1%} chosen {% endif %}"> <a href="like">Like</a></h1>
<h1 class="{% if like == 0%} chosen {% endif %}"> <a href="dislike">Dislike</a></h1>
{% endif %}

<h1>{{likes_count}}</h1>
<h1>{{dislikes_count}}</h1>

<div class="embed-responsive embed-responsive-16by9">
    <video controls preload class="embed-responsive-item">
        <source src="{{video.file.url}}" type="video/webm">
    </video>
</div>
{% if user.is_authenticated %}
<form action="comment" method="POST">
    {% csrf_token %}
    {% include "youtube/form_display.html" %}
    <button type="submit">Add Comment</button>
</form>
{% endif %}

{% include "youtube/comments.html" with comments=comments %}
{% endblock %}
