{% extends "base.html" %}

{% block title %}
{{video.title}} 
{% endblock %}

{% block body %}
<p>{{video.id}}</p>
<p>{{video.title}}</p>
<p>{{video.description}}</p>

<video controls preload>
    <source src="{{video.file.url}}" type="video/webm">
</video>

{% if user.is_authenticated %}
<form action="." method="POST">
    {% csrf_token %}
    {% include "youtube/form_display.html" %}
    <button type="submit">Add Comment</button>
</form>
{% endif %}

{% include "youtube/comments.html" with comments=comments %}
{% endblock %}
