{% load custom_tags %}
<div class="col-md-3">

    <a href="{% url 'video' video.id %}">
    <div class="card text-center border-secondary video-list-item">
        <div class="card-header text-white bg-dark">
            <b>{{video.title}}</b>
        </div>
        <div class="card-body">
            <p class="card-subtitle text-muted">Uploaded by {{video.user.username}}</p>
            <p class="card-subtitle text-muted">{{video.date_added|date:"N j Y G:i"}}</p>
        </div>
    </div>
    </a>
</div>
